---
layout: default
---

<section class="header">
  <div class="about">
      <p>Hi! I’m Branko, designer and web developer. I’m a lead UI/UX designer and part of an awesome crew at <a href="http://spicefactory.co/" target="_blank">SpiceFactory</a>. Occasionaly, I think of writing a blog post.</p>
  </div>
  <ul id="skills" class="skills">
    <li id="htmlcss">HTML5/CSS3</li>
    <li id="javascript">JavaScript</li>
    <li id="logodesign">Logo Design</li>
    <li id="gamedev">Game Development</li>
    <li id="plugin">Plugin</li>
    <li id="printdesign">Print</li>
    <li id="tshirt">T-Shirt</li>
  </ul>
  {% include footer.html %}
</section>

<section class="content">
  <div class="work-items">
    {% for item in site.data.work reversed %}
      <div class="item {% for skill in item.skills %}{{ skill }} {% endfor %}">
        <a href="{{ item.url }}" target="_blank" style="background: {{ item.background }}">
          <div class="item-image-wrapper">
            <img src="{{ item.image }}" alt="{{ item.name }}">
          </div>
          {% if item.description %}
            <div class="item-description {{ item.text_color }}">
              <h3>{{ item.name }}</h3>
              <p>{{ item.description }}</p>
            </div>
          {% endif %}
        </a>
      </div>
    {% endfor %}
  </div>
</section>
